.toolbar-top-block {
  height: 90px;
  background-color: #41B240;
}

.toolbar {
  background-color: #E2F0D9;
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  /* position: sticky; */
  /* position: -webkit-sticky; */
  /* For macOS/iOS Safari */
  /* top: 0; */
  /* Sets the sticky toolbar to be on top */
  /* z-index: 1000; */
  /* Ensure that your app's content doesn't overlap the toolbar */
}

.logo {
  margin: 20px;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* temporary */
  overflow: hidden;
}

.menu-left, .menu-right {
  display: flex;
  align-items: center;
}

.menu-left {
  color: #357550;
}

.menu-right {
  color: #434343;
}

.menu-button {
  display: flex;
  flex-direction: row-reverse;
  font-weight: 600;
  font-size: 16px;
}

.menu-icon {
  margin-left: 8px;
  margin-right: 8px;
  cursor: pointer;
  opacity: 1;
  transition: all 0.25s ease;
}

.menu-icon:hover {
  opacity: 0.75;
}